<a href="https://colab.research.google.com/github/drishtiheda2007/Drishti-Heda-Experiment-2/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Unit-1
## Basic Programs- Experiment 2

In [ ]:
# First Python Program/ String
print("Hello, Welcome to Python Programming")

Hello, Welcome to Python Programming

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
# Comments
#This is a comment.
print("Hello, World!")

Hello, World!

In [ ]:
## Many Statements
print("Hello World!")
print("Have a good day.")
print("Learning Pyhton is fun!")

Hello World!
Have a good day.
Learning Pyhton is fun!

In [ ]:
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

In [ ]:
print("Python is fun!"); print("Really!")

Python is fun!
Really!

In [ ]:
print("Hello World", end=" ")
print("I will print on the same line.")

Hello World I will print on the same line.

In [ ]:
#Print numbers
a=3
print(a)
print(369)
print(300.300)

3
369
300.3

In [ ]:
#Variables
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [ ]:
# Case-Sensitive
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [ ]:
#Many Values to Multiple Variables
x,y,z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
# Basic Arithmetic Operations
a = 10
b = 5

print("Addition =", a + b)
print("Subtraction =", a - b)
print("Multiplication =", a * b)
print("Division =", a / b)

Addition = 15
Subtraction = 5
Multiplication = 50
Division = 2.0

In [ ]:
# Understanding Data Types
x = 10
y = 3.14
z = "Python"
A = True
C=3+2j
print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Drishti
Hello Drishti

In [ ]:
# Taking Input from User
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Name:", name)
print("Age:", age)

Enter your name: Drishti Heda
Enter your age: 18
Name: Drishti Heda
Age: 18